<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>DoubleTapTalk</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleIdentifier</key>
    <string>com.jiajun.doubletaptalk.app</string>
    <key>CFBundleName</key>
    <string>DoubleTapTalk</string>
    <key>CFBundleDisplayName</key>
    <string>DoubleTapTalk</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSMicrophoneUsageDescription</key>
    <string>DoubleTapTalk needs microphone access to record your voice</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>DoubleTapTalk needs accessibility access to simulate keyboard input</string>
</dict>
</plist>
